<!DOCTYPE html>
<html lang="en">
<head>
    <!-- bootstrap  -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />

    <!-- font-awesome -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
            integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
            crossorigin="anonymous"
    />
    <title>Beds</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Group 27 - Cross Platform Application Development Assignment</a>
    </div>
</nav>
<br/>
<br/>
<br/>

<div class="container">
    <h1 th:text="${hospitalName}"></h1>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Regular Beds</th>
            <th scope="col">ICU without Ventilator</th>
            <th scope="col">ICU with Ventilator</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${bedsInHospital.getGeneralBeds()}"></td>
            <td th:text="${bedsInHospital.getIcuRegularBeds()}"></td>
            <td th:text="${bedsInHospital.getIcuVentilatorBeds()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>